.header__info{
  margin-top: 18px;
  margin-bottom: 6px;
  padding: 0;
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .header__info {
    margin-right: 27px;
  }
}