.form__title {
	margin: 0;
	padding: 0;
	display: block;
	max-width: 330px;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.20;
	margin-bottom: 54px;
}

@media screen and (max-width: 550px) {
	.form__title {
		max-width: 238px;
		font-size: 18px;
		font-weight: 900;
		line-height: 1.22;
		margin-bottom: 45px;
	}
}