.form__error_visible {
  margin: 5px 0 13px;
  padding: 0;
  max-width: 358px;
  color: #FF0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
}